.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.cards > *{
  flex-grow: 1;
  flex-basis: 300px;
}

.card{
  height: 140px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.card-body{
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.card .number{
  font-size: 1.5rem;
  font-weight: bold;
}

.card-footer{
  display: flex;
  align-items: center;
  height: 55px;
  font-weight: bold;
  color: #fff;
  padding: 0 14px;
}

.total .card-footer{
  background-color: #1c1cac;
}
.total .number{
  color: #1c1cac;
}

.sold .card-footer{
  background-color: #2cb32c;
}
.sold .number{
  color: #2cb32c;
}

.categories .card-footer{
  background-color: #f51212;
}
.categories .number{
  color: #f51212;
}

.brands .card-footer{
  background-color: #062b57;
}
.brands .number{
  color: #062b57;
}